<div class="@@additionalClass info-menu">
    <div class="info-menu__top">
        <div class="info-menu__avatar">
            <img src="@img/dest/header/avatar.webp" alt="user avatar">
        </div>
        <div class="info-menu__descr">
            <div class="info-menu__name">Kostyantyn Lukianenko</div>
            <div class="info-menu__role">User</div>
        </div>
    </div>
    <div class="info-menu__rating-info">
        <div class="info-menu__rating-name _icon-pencil"><span>Author rating</span></div>
        <div class="info-menu__rating-value"><span data-rating-points>1190 points</span></div>
    </div>
    <div class="info-menu__rating-info">
        <div class="info-menu__rating-name _icon-thumbs-up"><span>User rating</span></div>
        <div class="info-menu__rating-value"><span data-rating-points>353 points</span>, <span>31.87%</span></div>
    </div>
</div>