<article class="quiz-raw">
    <div class="quiz-raw__body">
        <a href="#" class="quiz-raw__link">
            <img src="@img/dest/quizes/quiz.webp" alt="quiz">
            <h2 class="quiz-raw__title">
                Quiz name. Ready to turn your ambitions into achievements – Moderation 2
            </h2>
        </a>
        <div class="quiz-raw__statistics">
            <time class="quiz-raw__date _icon-calendar" datetime="31.01.2025">31.01.2025</time>
            <div class="quiz-raw__stat-value _icon-chart">6</div>
            <div class="quiz-raw__star-rating">
                <span class="filled _icon-star"></span>
                <span class="filled _icon-star"></span>
                <span class="filled _icon-star"></span>
                <span class="_icon-star"></span>
                <span class="_icon-star"></span>
            </div>
            <ul class="quiz-raw__category">
                <li class="quiz-raw__category-item">
                    History
                </li>
                <li class="quiz-raw__category-item">
                    Europe History
                </li>
                <li class="quiz-raw__category-item">
                    Ukraine
                </li>
            </ul>
        </div>
        <div class="quiz-raw__info">
            <div class="quiz-raw__info-left">
                <div class="quiz-raw__tag tag tag--warning">Moderate on 33%</div>
                <div class="quiz-raw__date-wrapper">
                    <div class="quiz-raw__date-label">Started</div>
                    <time class="quiz-raw__date" datetime="31.01.2025">31.01.2025</time>
                </div>
            </div>
            <div class="quiz-raw__info-right">
                <div class="quiz-raw__avatar">MN</div>
                <div class="quiz-raw__initials">
                    <div class="quiz-raw__name">Moderator Name</div>
                    <div class="quiz-raw__role">Beginner Moderator</div>
                </div>
            </div>
        </div>
        <div class="quiz-raw__action">
            <div class="quiz-raw__action-left">
                <button class="quiz-raw__copy-btn quiz-raw-btn _icon-link"></button>
                <button class="quiz-raw__comments-btn quiz-raw-btn _icon-comment-text">Comments & rates</button>
                <button class="quiz-raw__edit-btn quiz-raw-btn _icon-pencil-edit"><span>Edit</span></button>
            </div>
            <div class="quiz-raw__action-right">
                <button class="quiz-raw__more-btn quiz-raw-btn _icon-more"></button>
                <ul class="quiz-raw__action-list">
                    <li>
                        <a href="#" class="quiz-raw__action-list-item _icon-chart">Show results</a>
                    </li>
                    <li>
                        <a href="#" class="quiz-raw__action-list-item _icon-quiz">Open quiz page</a>
                    </li>
                    <li>
                        <button class="quiz-raw__action-list-item _icon-link">Copy link</button>
                    </li>
                    <li>
                        <button class="quiz-raw__action-list-item _icon-copy">Create copy</button>
                    </li>
                    <li>
                        <button class="quiz-raw__action-list-item _icon-eye-no">Hide quiz</button>
                    </li>
                    <li>
                        <a href="#" class="quiz-raw__action-list-item quiz-raw__action-list-item--delete _icon-trash">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>